<!--The content below is only a placeholder and can be replaced.-->
<!-- <input type="text" [(ngModel)]="username" (keydown)="addtd($event)">

<h2>正在进行:</h2>  <span>{{todolist.length}}</span>
<ul>
    <li *ngFor='let item of todolist ;let i=index;' >   
        <input type="checkbox" (click)="changetd(i,true)" >
        {{item.username}}
        <button (click)='deleteTodo(i,true)'>删除</button>
    </li>
</ul>

<h2>已经完成:</h2>  <span>{{oklist.length}}</span>
<ul>
    <li *ngFor='let item of oklist ;let i=index;' >  
      <input type="checkbox" (click)="changetd(i,false)" >
        {{item.username}}
        <button (click)='deletetd(i,false)'>删除</button>
    </li>
</ul> -->


<!-- 组件交互 -->
<!-- <app-parent></app-parent> -->



<!-- 路由  雪梨 -->
<app-header></app-header>
<router-outlet></router-outlet>