
<div class="left">
    <a><img src="assets/touxiang.png" alt="ddd"></a>
    <h4>刘英杰</h4>
    <div id="fs"><a href="#">1 <br/>粉丝</a></div>
    <div><a href="#">1 <br/>关注</a></div>
    <div id="xiahuaxian">_______________________</div>
   <ul id="down">
     <li id="first"><a [routerLink]="['big/job']">任务<span class="jt">></span></a></li>
     <li><a [routerLink]="['big/tongbuli']">同步课<span class="jt">></span></a></li>
     <li><a [routerLink]="['big/courseli']">课程<span class="jt">></span></a></li>
     <li><a [routerLink]="['big/qieshuo']">且说<span class="jt">></span></a></li>
     <li><a [routerLink]="['big/message']">通知<span class="jt">></span></a></li>
   </ul>
 </div>
 
 <div class="right">
    <router-outlet></router-outlet>
   
 </div>