*{
    padding:0;
    margin:0;
}
ul,li{
    list-style: none;
}
.box{
    width:1200px;
    height:397px;
    margin:30px auto;
    position:relative;
    border:5px solid #000;
    overflow:hidden;
}

.circle{
    width:1002px;
    height:73px;
    bottom:0;
    position:absolute;
   
}
#left{
    width:50px;
    height:73px;
    line-height: 73px;
    text-align: center;
    color:rgb(138, 213, 243);
    background-color:whitesmoke;
    font-size:25px;
    position: absolute;
    bottom: 170px;
    opacity: 0.5;
}

#right {
    margin-left: 1150px;
    width:50px;
    height:73px;
    line-height: 73px;
    text-align: center;
    color:rgb;
    background-color: whitesmoke;
    font-size:25px;
    position: absolute;
    bottom: 160px;
    opacity: 0.5;
}
.num{
    float:left;
    margin-left: 500px;
    margin-top:20px;
}
.num li{
    float:left;
    width:30px;
    height:30px;
    background:#fff;
    color:#000;
    border-radius:50%;
    text-align:center;
    line-height: 30px;
    margin-left: 10px;
}
