#top{
    margin-top:20px;
    border-bottom: 2px solid gainsboro;
}
#top li{
    display: inline;
    margin-left:30px;
    line-height:40px;
}
.search{
    height:30px;
    position: absolute;
    left:927px;
}
.search1{
    height:30px;
    width:30px;
    font-size: 18px;
    position: absolute;
    left:1100px;
}

#one{
    /* display:none; */
    color:orangered;
    font-size: 24px;
    position:absolute;
    top:81px;
}
a{color: black;}