<div class="container">
  <h2><a [routerLink]="['/tongbu']">同步课</a>/<a href="#">{{course?.courseName}}</a></h2>
  <ul class="ll">
    <li><a href="#">简介</a></li>
    <li><a href="#">成员</a></li>
    <li id="renwu"><a href="#">任务{{course?.task}}</a></li>
    <li><a href="#">成员{{course?.person}}</a></li>

  </ul>
  </div>
  <div class="xia">
  <ul>
    <li id="l1"><a href="#">全部任务</a></li><li id="l2"><a href="#">成绩分析</a></li>
  </ul>
  <ul class="job">
    <li >
      <h3><a href="#">任务二--js基础练习与应用</a></h3><span id="fs1">10分</span>
      <a href="#" >刘冠军</a><span class="aa">发布于2018-09-30 16：35</span>
      <span class="ss"><i class="icon ion-pie-graph"></i>77</span>
      <span><i class="icon ion-ios-checkmark"></i>33</span>
      <span><i class="icon ion-ios-refresh"></i>0</span>
      <span class="jz"><i class="icon  ion-android-done-all"></i>已截止</span>
    </li>
     <li >
       <h3><a href="#">任务一--组件交互与服务</a></h3><span id="fs2">10分</span>
      <a href="#" >刘冠军</a><span class="aa">发布于2018-09-21 13：54</span>
      <span class="ss"><i class="icon ion-pie-graph"></i>76</span>
      <span><i class="icon ion-ios-checkmark"></i>7</span>
      <span><i class="icon ion-ios-refresh"></i>7</span>
      <span class="jz"><i class="icon  ion-android-done-all"></i>已截止</span>
    </li>
  </ul>
</div>
