<!-- Generated template for the TuijianComponent component -->

  <!-- <div class="imgs">
    <img src="../assets/imgs/01.png"> -->
<!-- {{text}} -->
 <!-- </div> --> -->
 <!-- <ion-content padding>
    <ion-slides pager="true" class="sli" loop="true" autoplay="300">
        <ion-slide>
          <img src="../assets/imgs/01.png">
        </ion-slide>
        <ion-slide>
            <img src="../assets/imgs/01.png">
        </ion-slide>
        <ion-slide>
            <img src="../assets/imgs/01.png">
        </ion-slide>
      </ion-slides>
</ion-content> -->