<p>学霸，学渣，偶想说~</p>
<div class="input-group">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg">
         <img src="assets/1.png" alt="ddd">
    </button>
    <button type="button" class="btn btn-default btn-lg">
         <img src="assets/2.png" alt="ddd">
    </button>
    <button type="button" class="btn btn-default btn-lg">
         <img src="assets/3.png" alt="ddd">
    </button>
    <button type="button" class="btn btn-default btn-lg">
         <img src="assets/4.png" alt="ddd">
    </button>
    <button type="button" class="btn btn-default btn-lg">
        <img src="assets/5.png" alt="ddd">
    </button>
    <button type="button" class="btn btn-default btn-lg">
            <img src="assets/6.png" alt="ddd">
    </button>
    <button type="button" class="btn btn-default btn-lg">
            <img src="assets/8.png" alt="ddd">
    </button>
    <button type="button" class="btn btn-default btn-lg">
            <img src="assets/9.png" alt="ddd">
    </button>
    <button type="button" class="btn btn-default btn-lg">
            <img src="assets/10.png" alt="ddd">
    </button>
    <button type="button" class="btn btn-default btn-lg">
        <img src="assets/11.png" alt="ddd">
    </button>
    <button type="button" class="btn btn-default btn-lg">
            <img src="assets/12.png" alt="ddd">
    </button>

  </div>
</div>

  <textarea rows="10" cols="90"></textarea>
  <div class="input-group-btn">
    <span><a href="#"><i class="icon ion-android-textsms"></i>话题</a></span> 
    <span><a href="#"><i class="icon ion-android-textsms"></i>发长文</a></span>
    <span id="sub"><input type="submit" value="发布"></span>
  </div>

  <div id="biaoti">
      <span class="bt"><a href="#"><i class="icon ion-ios-chatbubble-outline"></i>动态</a></span>
      <span class="bt"><a href="#"><i class="icon ion-thumbsup"></i>我的赞</a></span>
      <span class="bt"><a href="#"><i class="icon ion-ios-star-outline"></i>我的收藏</a></span>
  </div>
  <div id="qieshuo">
    <ul id="leftll">
        <li *ngFor="let shequ of shequs;">
                  
                 <a href="#"><img src="{{shequ.touxiang}}" alt="" id="touxiang"></a>
                 <span id="pp">{{shequ.person}}</span>
                <a href="#"><img src="{{shequ.images}}" alt="" id="img"></a>
                <div class="rr">
                <h3><a href="#">{{shequ.courseName}}</a></h3>
                <p>{{shequ.neirong}}</p>
                </div>
                <div>
                
                <span id="tt">{{shequ.time}}</span>
                <span id="yy">阅读{{shequ.yuedu}}</span>&nbsp;&nbsp;
                <span>评论{{shequ.pinglun}}</span>
                </div>
                 
        </li>
    </ul>
  </div>
